<!-- https://www.youtube.com/watch?v=pJlLLW_Bl3c&list=PLBHzlq7ILbsaL1sZxJIxrc4ofSPAMSTzr&index=2 -->
<!-- -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> <!-- script tag for vue and socket io -->
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
	<div id="v-app">
		<h1>{{title}}</h1>
		<form>
			<input v-model='text' type="text"/> <!-- input bound to text variable -->
			<button type="submit" @click.prevent="sendMessage()">Send</button> <!-- when submit run the sendMessage() -->
		</form>

		<p>
			<ul>
				<li v-for="msg of messages">{{msg}}</li> <!-- loops through array of messages-->
			</ul>
		</p>
	</div>

	<script>
		var app = new Vue({ // script starts, new vue instance
			el: "#v-app",
			data: {
				title: 'Websockets Tester',
				text: '',
				messages: ['Some message', 'Another message'],
				socket: null,
			},
			methods: {
				sendMessage() {
					console.log(`send: ${this.text}`);
					this.socket.emit('msgToServer', this.text);
					this.text = "";
				},
				receiveMessage(msg) { // there just log msg and add it to the messages array
					console.log(`recv: ${msg}`);
					this.messages.push(msg);
				}
			}, // when boots the created hook will run, create a socket io client and stick it to data socket variable
			created() {
				this.socket = io("http://localhost:3000");
				this.socket.on('msgToClient', (msg) => { // whenever receive a message, take it and pass it to the receive mssg method
					this.receiveMessage(msg);
				});
			}
		});
	</script>
</body>
</html>
